* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color:white;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header {
    text-align: center;
}

header > h1 {
    font-size: 1.50rem;
    font-weight: 500;
}