body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width:400px;
}

input {
    border: 1px solid #5f9341;
    padding: 10px 5px;
    width:100%; /* when width padding is applied it sums up, box sizing fixes it*/
    box-sizing: border-box;
    margin-bottom: 4px;
}

button {
    background-color: #5f9341;
    color:white;
    border: 1px solid #5f9341;
    padding: 10px 20px;
    font-weight: bold;
}

#delete-btn {
    background: white;
    color:#5f9341;
}

ul {
    padding-left: 0;
    margin-left: 0;
}

li {
    list-style-type: none;
    padding: 5px;
}

li a {
    color:#5f9341;
}