* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-600 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-700 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.img {
    width: 40px;
}

.header {
    background-color: black;
    color: #0cf;
    margin: 0;
    border-radius: 3px;
    padding: 30px 0;
    border-bottom: 2px solid gray;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 25px;
}

.main {
    flex: 1;
    padding: 40px;
    background-image: url("./assets/react-logo-half.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    background-color: black;
    color:white;
}

.h1-2 {
    font-size: 2.4em;
}

ul {
    margin-left: 35px;
    padding-top: 25px;
}

li {
    padding-top: 10px;
}

li::marker {
    color:#0cf;
    font-size: 1.75em;
}

