* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    margin-bottom: 10px;
    text-align: center;
}

h3, p {
    padding: 5px;
}

.hidden {
    display: none;
}

.visible {
    display : block;
}
