/* to use downloaded fonts we can use @font-face and src it to the font
destination, also specifiying the font family to use */

body {
    /*background-image: url("../images/astronaut-in-space.jpg");*/
    text-align: center;
    margin:0;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
    text-align: center;
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcWs5ZHJyOTRuM3NmMWxob2JyYms1c3U3MDRnYTA2MjBxZmh6aWxpciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/eHXed39iQn3TrMAZJO/giphy.gif");
    color:#525252;
    background-size: cover;
    padding:10px 0 600px 0;
}

.heading {
    text-shadow: 0px 0px 4px black;
}

.btn {
    padding:6px 12px;
    background-color: white;
    color:#525252;
    border: none;
}

#underline {
    text-decoration: underline;
}

#space-logo {
    width: 100px;
    background-color: white;
}