/* to use downloaded fonts we can use @font-face and src it to the font
destination, also specifiying the font family to use */

body {
    background-image: url("../images/astronaut-in-space.jpg");
    color:white;
    background-size: cover;
}

.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
    text-align: center;
}

.btn {
    padding:6px 12px;
    background-color: white;
    border: none;
}