body {
    text-align: center;
    background-image: url("../images/background.jpg");
    background-size:cover;
    font-weight: bold;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    color:goldenrod;
    font-weight: bold;
}

#message-el {
    font-style: italic;
}

button {
    color:#016f32;
    width: 150px;
    background-color: goldenrod;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
}