body {
    box-sizing: border-box;
    background-color: #191E41;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 150px;
}


.text {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.score, button {
    font-family: 'Seven Segment', sans-serif;
    border-radius: 5px;
}

.btn {
    background: transparent;
    border: 1px solid white;
    color:white;
}

h1, p {
    font-size: 3em;
    color: white;
    white-space: pre-line;
}

.score {
    background-color: black;
    color:red;
    font-size: 8em;
    font-weight: bolder;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    font-size: 1.5em;
    padding: 10px;
}

.btn:hover {
    border:1px solid red;
}

.btn:active {
    color:red;
}

.btn:disabled {
    color:black;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}